<div class="navbar is-dark">
    
    <!-- logo -->
    <div class="navbar-brand">
      <a class="navbar-item" href="https://daxko.com/">
        <img src="../../../assets/img/daxko_icon.png" alt="Daxko" style="padding-right: 10px;" />
        <img src="../../../assets/img/daxko_header_white.png" alt="Daxko" />
      </a>
      <div class="navbar-item">
          <div class="title is-5 has-text-grey-lighter has-text-centered">
              Ordering System
          </div>
      </div>
    </div>

    <!-- menu -->
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/">Home</a>
            <a class="navbar-item" routerLink="/orders">Orders</a>
            <a class="navbar-item" routerLink="/pastorders">Past Orders</a>
        </div>
    </div>  
</div>

